/* Navbar section */

@media (max-width: 991.98px) {
    .container-fluid .navbar-container .navbar{
        background: rgba(255, 255, 255, 0.2) !important;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 3px solid rgba(32, 147, 255, .3);
        width: 100%;
        margin: 0px 10px 0px 10px;
    }

    .container-fluid .navbar-container .navbar .container-fluid .navbar-toggler{
        border: none;
    }

    .container-fluid .navbar-container .navbar .container-fluid .navbar-toggler:focus{
        box-shadow: none !important;
        border: 2px solid #2093ff;
    }

    .container-fluid .navbar-container .navbar .container-fluid .navbar-toggler i{
        color: #2093ff !important;
        
    }

    .container-fluid .navbar-container .navbar .container-fluid .navbar-collapse .collapse-nav{
        justify-content: center !important;
    }

    .container-fluid .navbar-container .navbar .container-fluid .navbar-collapse .collapse-nav ul{
        text-align: center !important;
        width: 80%;
    }

    .container-fluid .navbar-container .navbar .container-fluid .navbar-collapse .collapse-nav ul li{
        border-bottom: .5px solid gainsboro !important;   
    }

    .container-fluid .navbar-container .navbar .container-fluid .navbar-collapse .collapse-nav ul li:nth-child(5){
        border-bottom: none !important;   
    }

    .container-fluid .navbar-container .navbar .container-fluid .collapse .collapse-nav ul li:hover{
        border-bottom-color: none !important;    
    }

    .container-fluid .navbar-container .navbar .container-fluid .collapse .collapse-nav .navbar-nav .nav-item a{
        color: #2093ff !important;
        width: 100% !important;
    }

    .container-fluid .navbar-container .navbar .container-fluid .navbar-collapse .collapse-nav span{
        display: none;
    }
}

/* Hero section */

@media (max-width: 991.98px) {
    
    .container-fluid .hero-section{
        margin-top: 20%;
    }

}

@media (max-width: 767.98px) {
    .container-fluid .hero-section{
        flex-direction: column !important;
        align-items: center;
    }
    
    .container-fluid .hero-section .hero-detail{
        align-items: center;
    }
    
    .container-fluid .hero-section .hero-detail .hero-title{
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
    }

    .container-fluid .hero-section .hero-detail .hero-title p{
        text-align: center;
        width: 90%;
    }

    .container-fluid .hero-section .hero-image {
        padding: 50px 0px!important;
    }

    .container-fluid .hero-section .hero-image span{
        width: 80% !important;
        height: 80% !important;
        margin: auto !important;
    }

}

@media (max-width: 690.98px) {
    
    .container-fluid .hero-section{
        margin-top: 25%;
    }

}

/* About section */

@media (max-width: 767.98px) {
    .container-fluid .about-container{
        flex-direction: column-reverse !important;
    }

    .container-fluid .about-container .hero-image {
        padding: 50px 0px!important;
    }

    .container-fluid .about-container .hero-image span{
        width: 80% !important;
        height: 80% !important;
        margin: auto !important;
    }

    .container-fluid .about-container .about-detail{
        text-align: center;
        padding: 0px 5px;
    }

    .container-fluid .about-container .about-detail span .underline{
        margin: auto;
    }
}

@media (max-width: 575.98px) {

    .container-fluid .about-container .hero-image {
        display: none !important;
    }

}

/* Services section */

@media (max-width: 991px) {
    .container-fluid .service-container{
        justify-content: center !important;
    }

    .container-fluid .service-container .service .service-box b{
        font-size: 1.8rem !important;
    }
    
    .container-fluid .service-container .service .service-box p{
        font-size: 1.2rem !important;
    }

    .container-fluid .service-container .service .service-box{
        border: 2px solid #01ccff;
        
    }

    .container-fluid .service-container .service .service-box:hover{
        box-shadow: none;
    }
}

@media (max-width: 575px) {
    .container-fluid .service-container .service .service-box b{
        font-size: 1.3rem !important;
    }
    
    .container-fluid .service-container .service .service-box p{
        font-size: .9rem !important;
    }
}


/* Tech stack section */
@media (width < 768px){
    .container-fluid .tech-stack-container .tech-stack-col .tech-stack-box{
        width: 47%;
    }
}


/* Projects section */
@media (width < 992px) {
    .container-fluid .project-container .project-head{
        display: none;
    }
}

@media (width > 991px) {
    .container-fluid .project-container .projects .sm-project{
        display: none !important;
    }
}

@media (max-width: 991px) {
    .container-fluid .project-container .projects .website-project, .graphics-project{
        display: none !important;
    }

    .container-fluid .project-container .projects .sm-project h2{
        color: #2093ff;
        font-family: 'Poppins', roboto !important;
    }

    .container-fluid .project-container .projects .sm-project .sm-project-container{
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card{
        position: relative;
        width: 30%;
        height: 10rem !important;
        overflow-y: hidden;
        border-radius: 5px;
    }

    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card .image-box{
        width: 100%;
        height: 100%;
    }

    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card .image-box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card .project-title{
        position: absolute;
        width: 100%;
        height: 25%;
        left: 0;
        bottom: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card .project-title p{
        margin: auto;
    }
    
    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card .title{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        visibility: hidden;
        opacity: 0;
        transition: all .7s 0s ease-in-out;
        transform: translateY(50%);
  
    }

    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card .title a{
        border: 2px solid white;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card .title a:hover{
        background-color: white !important;
        color: black !important;
        border: none;
        transition: all .7s 0s ease-in-out;
    }
    
    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card:hover .title{
    
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }

}

@media (max-width: 767.98px) {
    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card{
        width: 46%;
    }
}

@media (max-width: 575.98px) {
    .container-fluid .project-container .projects .sm-project .sm-project-container .project-card{
        width: 90%;
    }
}

/* Footer section */


@media (max-width: 991.98px) {
    
    .container-fluid .top-container{
        padding-top: 0 !important;
    }
}