# Environment file
.env
# Composer packages
vendor

# Browscap
browscap.ini

# System files
.DS_Store
Thumbs.db

# Composer (if you get it working later)
composer.lock

/cache/
!/cache/.gitkeep

# htaccess ignore

.htaccess
/database-connection/
!/database-connection/.gitkeep