<Files ".env">
    Order allow,deny
    Deny from all
</Files>

<Files "decrypt.php">
    Order allow,deny
    Deny from all
</Files>

<Files "project-decrypt.php">
    Order allow,deny
    Deny from all
</Files>

<Files "encrypt.php">
    Order allow,deny
    Deny from all
</Files>

<Files "side-bar.php">
    Order allow,deny
    Deny from all
</Files>

<Files "project-upload.php">
    Order allow,deny
    Deny from all
</Files>

<Files "about-function.php">
    Order allow,deny
    Deny from all
</Files>

<Files "auto-logout.php">
    Order allow,deny
    Deny from all
</Files>